.product__img {
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
    /* cursor: pointer; */
}

.product_details {
    width: 50%;
    display: inline-block;
}

.product_details:last-child {
    text-align: right;
    position: relative;
    top: -35px;
}

.product_details>svg {
    font-size: 22px;
    margin-top: 20px;
    cursor: pointer;
}

.product_title {
    width: 50px;
    text-overflow: ellipsis;
    text-transform: uppercase;
}